/*BEST COLORS GALLERY - HISTORIC*/
:root {
    --mainPink: #e84393;
    --mainDark: #232528;
    --mainRed: #ed213a; /*#ed213a */
    --mainBrown: #795548;
    --mainOrange: #ffb300;
    --expenseRed: #ff4757;
    --lightGrey: #cad3c8;
    --mainGreen: #4cd137; /* download progress */
    --incomeGreen: #2ecc71;
    --lightGreen: #90ee90;
    --strongGreen: #04ff00eb;
    --mainBlue: #2a2a72;
    --darkBlue: #2c3e50;
    --lightBlue: #009ffd;
    --mainDegrade: linear-gradient(to right, #ed213a, #93291e);
    --mainYellow: #ffee58;
    --niceUiYellow: #fbc531;
    --darkYellow: #8f860f;
    --lightYellow: #ff0;
    --mainPurple: #4a148c;
    --lightPurple: #7c43bd;
    --mainCyan: #00b2cc;
    --mainCyanLight: #00e5ff;
    --vocarizaCyan: #00ffff;
}

.text-red {
    color: var(--mainRed) !important;
}

.text-expense-red {
    color: var(--expenseRed) !important;
}

.text-dark-yellow {
    color: var(--darkYellow);
}

.text-nice-ui-yellow {
    color: var(--niceUiYellow);
}

.text-pink {
    color: var(--mainPink);
}

.text-blue {
    color: var(--mainBlue);
}

.text-purple {
    color: var(--mainPurple);
}

.text-light-purple {
    color: var(--lightPurple);
}

.text-sys-green {
    color: green !important;
}

.text-green {
    color: var(--mainGreen);
}

.text-strong-green {
    color: var(--strongGreen) !important;
}

.text-income-green {
    color: var(--incomeGreen);
}

.text-grey {
    color: grey !important;
}

.text-light-grey {
    color: var(--lightGrey);
}

/* better than main green for textx */
.text-alt-green {
    color: #1a9a06;
}

.text-cyan {
    color: var(--mainCyan);
}

.text-cyan-light {
    color: var(--mainCyanLight);
}

.text-voca-cyan {
    color: var(--vocarizaCyan) !important;
}
