.custom-shape-divider-top-1665201393 {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1665201393 .shape-fill {
    fill: #103F5C;
}