.anima-icons-overlay {
    // close panel in any part of screen and still select option
    z-index: 3;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0;
    background-color: black;
    display: block;
}

#app-cover {
    position: relative;
    width: 300px;
    height: 42px;
    margin: 0px auto 0 auto;
    z-index: 5;
}

#anima-icons-select-button {
    position: relative;
    height: 16px;
    padding: 12px 14px;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;

    #selected-value {
        line-height: 1;
        position: absolute;
        left: 12px;
        width: 217px;
        margin-left: 25px;
        height: 25px;
    }

    #chevrons {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 12px;
        padding: 9px 35px 9px 14px;
    }

    #chevrons svg {
        display: block;
        height: 50%;
        color: var(--themePLight);
        transform: scale(1.9);
        // text-align: right;
    }
}

.anima-icons-border {
    box-shadow: 0 31px 120px 6px rgba(0, 0, 0, 0.25);
    border-radius: 0 20px 20px 0 !important;
    box-sizing: content-box !important;
}

#options-view-button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.option,
.label {
    color: var(--themeP);
    // font-size: 16px;
}

#options-view-button:checked + #select-button #chevrons svg {
    color: #2d3667;
}

.options {
    position: absolute;
    left: 0;
    width: inherit;
}

#options {
    position: absolute;
    top: 42px;
    right: 0;
    left: 0;
    width: inherit;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 4px;

    .option svg {
        position: absolute;
        left: 7px;
        padding: 0;
        display: block;
    }

    .option .MuiSvgIcon-root {
        box-sizing: content-box !important;
    }
}

#options-view-button:checked ~ #options {
    border: 1px solid #e2eded;
    border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
}

.option {
    position: relative;
    line-height: 1;
    transition: 0.3s ease all;
    z-index: 2;
}

#options-view-button:checked ~ #options .option svg {
    display: block;
    padding: 12px 0;
}

.label {
    display: none;
    padding: 0;
    margin-left: 35px;
}

#options-view-button:checked ~ #options .label {
    display: block;
    padding: 12px 14px;
}

.s-c {
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;

    &.top {
        top: 0;
    }

    &.bottom {
        bottom: 0;
    }

    &:hover ~ svg {
        color: #fff;
        opacity: 1;
    }

    &:hover {
        height: 100%;
        z-index: 1;
    }

    &.bottom:hover + svg,
    &.bottom:focus + svg {
        bottom: -25px;
        animation: moveup 0.3s ease 0.1s forwards;
    }

    &.top:hover ~ svg,
    &.top:focus + svg {
        top: -25px;
        animation: movedown 0.3s ease 0.1s forwards;
    }
}

@keyframes moveup {
    0% {
        bottom: -25px;
        opacity: 0;
    }
    100% {
        bottom: 0;
        opacity: 1;
    }
}

@keyframes movedown {
    0% {
        top: -25px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

input[type="radio"] {
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    height: 50%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
}

.label {
    transition: 0.3s ease all;
    margin-left: 25px;
}

.opt-val {
    position: absolute;
    left: 12px;
    width: inherit;
    margin-left: 25px;
    height: 25px;
    opacity: 0;
    background-color: #fff;
    transform: scale(0);
}

.option input[type="radio"]:checked ~ .opt-val {
    opacity: 1;
    transform: scale(1);
}

.option input[type="radio"]:checked ~ svg {
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    animation: unset;
}

.option input[type="radio"]:checked ~ svg,
.option input[type="radio"]:checked ~ .label {
    color: #fff;
}

.option input[type="radio"]:checked ~ .label:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

#options-view-button:not(:checked)
    ~ #options
    .option
    input[type="radio"]:checked
    ~ .opt-val {
    top: -30px;
}

.option input[type="radio"]:checked ~ .label:before {
    background-color: var(--themeP) !important;
    border-radius: 4px 4px;
}

.option:nth-child(1) input[type="radio"]:checked ~ .opt-val {
    top: -31px;
}

.option:nth-child(2) input[type="radio"]:checked ~ .opt-val {
    top: -76px;
}

.option:nth-child(3) input[type="radio"]:checked ~ .opt-val {
    top: -121px;
}

.option:nth-child(4) input[type="radio"]:checked ~ .opt-val {
    top: -166px;
}

.option:nth-child(5) input[type="radio"]:checked ~ .opt-val {
    top: -211px;
}

.option:nth-child(6) input[type="radio"]:checked ~ .opt-val {
    top: -256px;
}

.option:nth-child(7) input[type="radio"]:checked ~ .opt-val {
    top: -301px;
}

#option-bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 40px;
    transition: 0.3s ease all;
    z-index: 1;
    display: none;
}

#options-view-button:checked ~ #options #option-bg {
    display: block;
}

.option:hover .label {
    color: #fff;
}

.option:hover ~ #option-bg {
    top: 0;
    background-color: var(--themePLight);
    border-radius: 4px 4px;
}

.option:nth-child(2):hover ~ #option-bg {
    top: 44px;
}

.option:nth-child(3):hover ~ #option-bg {
    top: 88px;
}

.option:nth-child(4):hover ~ #option-bg {
    top: 132px;
}

.option:nth-child(5):hover ~ #option-bg {
    top: 176px;
}

.option:nth-child(6):hover ~ #option-bg {
    top: 224px;
}

.option:nth-child(7):hover ~ #option-bg {
    top: 268px;
}
